<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Table Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}" />

</head>
<body>
<table>
    <caption>My Table: </caption>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <tr>
        <td>Chandler</td>
        <td>32</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Joey</td>
        <td>31</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Rachel</td>
        <td>30</td>
        <td>Female</td>
    </tr>
</table>



</body>
</html>